ul {
  list-style-type: none;
  font-size: 12px;
  color: #003d61;
}
footer {
  font-size: 10px;
  line-height: 1.5;
  text-align: right;
}
h1,
h2,
h3 {
  font-weight: 400;
  color: #003d61;
}

.container {
  font-family: "Open Sans", sans-serif;
}
.card-body {
  background-color: rgb(75, 151, 165);
  border-color: rgb(75, 151, 165);
  list-style-type: none;
  font-size: 14px;
  color: #fff(253, 192, 253);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.weather-app {
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  border: 1px rgb(75, 151, 165) solid;

  background-color: #fff;
  color: #003d61;
}
.high {
  font-weight: 500;
  color: #fff;
}
.low {
  font-weight: 200;
  color: rgb(143, 101, 46);
}
.emoji-today {
  font-size: 28px;
}
