h1,
h3 {
  text-align: center;
  font-weight: 800;
  color: #ec6e4c;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

strong {
  font-weight: 800;
  font-size: 34px;
  color: #ec6e4c;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
h5 {
  color: rgb(75, 151, 165);
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  line-height: 1.5;
}
footer {
  font-size: 10px;
  line-height: 1.5;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style-type: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 700px;
  padding: 25px;
  margin: 60px auto;
  border: 2px rgba(86, 198, 218, 0.5) solid;
  border-radius: 3px;
  background-color: rgba(86, 198, 218, 0.05);
  color: rgb(20, 80, 148);
  font-family: "Open Sans", sans-serif;
}

.today {
  margin-left: 40px;
  margin-right: 20px;
}
.today-forecast {
  display: block;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
.stats {
  padding: 10px;
  font-size: 14px;
  color: rgb(20, 80, 148);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
.today-temp .unit {
  font-size: 14px;
  position: relative;
  top: -12px;
}
.day {
  font-weight: 400;
  color: rgb(95, 95, 95);
  font-family: "Open Sans", sans-serif;
}
.high {
  font-weight: 600;
  color: rgb(20, 80, 148);
  font-family: "Open Sans", sans-serif;
}
.low {
  font-weight: 200;
  color: rgb(20, 80, 148);
  font-family: "Open Sans", sans-serif;
}
.today-icon {
  font-size: 32px;
}
.weather-forecast {
  display: block;
  background-color: rgba(86, 198, 218, 0.5);
  border: none;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  justify-items: center;
  border-radius: 50px;
  line-height: 1.5;
}

.weather-forecast .row {
  display: inline-flex;
}
.weather-forecast-high {
  font-weight: 700;
}
.link {
  text-decoration: none;
  color: #ec6e4c;
}
