ul {
}
.container {
  background-color: #f2836d;
}
.weather-app {
  max-width: 600px;
  padding: 30px;
  margin: 40px auto;
  border: 1px #f2836d solid;
  border-radius: 5px;
  background-color: #f2836d;
}
.forcast5day {
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff 50%;
}
